<dx-accordion
  #accordion
  [collapsible]="true"
  [multiple]="true"
  [animationDuration]="300"
  id="accordion-container"
>
  <dxi-item title="Assigned">
    <dx-list
      #assignList
      id="assignList"
      [selectionMode]="'single'"
      [items]="documentAssignedFilters"
      [showSelectionControls]="true"
      [selectByClick]="true"
      [(selectedItems)]="selectedAssignedKeys"
    ></dx-list>
  </dxi-item>
  <dxi-item title="Status">
    <dx-list
      #documentStatusesList
      id="documentStatusesList"
      [items]="documentStatuses"
      [selectionMode]="'single'"
      [showSelectionControls]="true"
      [(selectedItems)]="selectedStatusKeys"
      [selectByClick]="true"
    ></dx-list>
  </dxi-item>
</dx-accordion>
